###### Windows
# Файлы кэша миниатюр Windows
Thumbs.db
Thumbs.db: шифруемый
ehthumbs.db
ehthumbs_vista.db

# Файл дампа
*.stackdump

# Файл конфигурации папки
[Dd]esktop.ini

# Корзина, используемая в общих файловых ресурсах
$RECYCLE.BIN/

# Установочные файлы Windows
*.cab
*.msi
*.msix
*.msm
*.msp

# Ярлыки Windows
*.lnk

###### Linux
*~

# временные файлы, которые могут быть созданы, если у процесса все еще открыт дескриптор удаленного файла
.fuse_hidden*

# Настройки каталога KDE
.каталог

# Папка корзины Linux, которая может появиться на любом разделе или диске
.Trash-*

# Файлы .nfs создаются, когда открытый файл удаляется, но к нему все еще осуществляется доступ
.nfs*

###### macOS
# Общие сведения
.DS_Store
.AppleDouble
.LSOverride

# Эскизы
._*

# Файлы, которые могут отображаться в корне тома
.DocumentRevisions-Версия 100
.fseventsd
.Spotlight-версия 100
.Временные элементы
.Уничтожает
.VolumeIcon.icns
.com.apple.timemachine.не представляйте

# Каталоги, потенциально созданные на удаленном общем ресурсе AFP
.AppleDB
.AppleDesktop
Сетевая папка корзиныв Всети
Временные элементы
.apdisk

###### Android
# Встроенные файлы приложений
*.apk
*.ap_
*.aab

# Файлы для виртуальной машины ART /Dalvik.
*.dex

# Файлы классов Java
*.class

# Сгенерированные файлы
bin/
gen/
выход/
# Раскомментируйте следующую строку на случай, если вам нужны файлы типа release build, но у вас нет файлов типа release build в вашем приложении
# выпуск/

# Файлы Gradle
.gradle/
сборка/

# Локальный конфигурационный файл (путь к sdk и т.д.)
local.properties

# Proguard folder generated by Eclipse
proguard/

# Log Files
*.log

# Android Studio Navigation editor temp files
.navigation/

# Android Studio захватывает папку
захватывает/

# IntelliJ
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/словари
.idea/библиотеки
# Android Studio 3 в файле .gitignore.
.idea/кэши
.idea/modules.xml
# Прокомментируйте следующую строку, если для вас важно сохранить положение элементов в редакторе навигации
.idea/navEditor.xml

# Файлы хранилища ключей
# Раскомментируйте следующие строки, если вы не хотите проверять файлы хранилища ключей.
#*.jks
#*.хранилище ключей

# Внешняя встроенная папка сборки, созданная в Android Studio 2.2 и более поздних версиях
.externalNativeBuild

# Сервисы Google (например, API или Firebase).
# google-services.json

# Бесплатная линия
freeline.py
бесплатная/
freeline_project_description.json

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/скриншоты
fastlane/test_output
fastlane/readme.md

# Контроль версий
vcs.xml

# lint
ворсинки/промежуточные/
lint/сгенерированный/
lint/выходы/
lint/tmp/
# lint/отчеты/

###### Резервное копирование
*.bak
*.gho
*.ori
*.оригинальный
*.tmp

###### GPG
секретность.*

###### Dropbox
# Настройки и кэши Dropbox
.dropbox
.dropbox.attr
.dropbox.cache

###### Краткое описание SVCS
# Форматы сигналов
*.vcd
*.vpd
*.evcd
*.fsdb

# Имя исполняемого файла моделирования по умолчанию. Другое имя может быть
#, указанный с помощью этого параметра (связанное имя базы данных daidir является
# также взято отсюда): -o <путь>/<имя файла>
символ

# Сгенерирован для топовых конфигураций Verilog и VHDL .
символ.daidir/
simv.db.dir/

# Инфраструктура, необходимая для совместного моделирования моделей SystemC с
# Модели Verilog/VHDL. Альтернативный каталог может быть указан с помощью этого
# переключить: -Mdir=<directory_path>
csrc/

# Файл журнала - следующий переключатель позволяет указать файл, который будет
# используется для записи всех сообщений из simulation: -l <имя файла>
*.log

Результаты покрытия # (генерируемые с помощью urg) и местоположение базы данных. The
# также можно использовать следующий переключатель: urg -dir <coverage_directory>.vdb
simv.vdb/
urgReport/

# Файлы, связанные с DVE и UCLI.
DVEfiles/
ucli.key

# При разработке дизайна для DirectC создается следующий файл
# с объявлениями для функций C / C ++.
vc_hdrs.h

###### SVN
.svn/

###### Mercurial
.hg/
.hgignore
.hgsigs
.hgsub
.hgsubstate
.hgtags

###### Базар
.bzr/
.bzrignore

###### CVS
/CVS/*
**/CVS/*
.cvsignore
*/.cvsignore

###### TortoiseGit
# Настройки на уровне проекта
/.tgitconfig

###### шпатлевка
# Закрытый ключ
*.ppk

##### Vim
# Поменять местами
[._]*.s[a-v][a-z]
!*.svg  # закомментируйте, если вам не нужны векторные файлы
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Сессия
Сессия.vim
Sessionx.vim

# Temporary
.netrwhist
*~
# Автоматически генерируемые файлы тегов
Теги
# Постоянная отмена
[._]*.un~

###### Emacs
# -*- режим: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
автоматическое сохранение списка
бродяга
.\#*

# Org-режим
.org-id-locations
*_archive

# flymake-режим
*_flymake.*

# файлы eshell
/eshell/история
/eshell/lastdir

# пакеты elpa
/elpa/

# файлы reftex
*.rel

# Автоматическая папка AUCTeX
/авто/

# пакеты cask
.cask/
dist/

# Проверка на лету
flycheck_*.el

# каталог авторизации на сервере
/сервер/

# файлы projectiles
.снаряд

# настройка каталога
.dir-locals.el

# сетевая безопасность
/сетеваябезопасность.данные

###### SublimeText
# Кэшировать файлы для Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# Файлы рабочей области зависят от пользователя
*.sublime-рабочее пространство

Файлы проекта# следует возвращать в репозиторий, если только значительный
# доля участников, вероятно, не будет использовать Sublime Text
# *.sublime-проект

# Файл конфигурации SFTP
sftp-config.json
sftp-config-alt*.json

# Файлы, специфичные для управления пакетами
Управление пакетом.последний запуск,выполняемый впоследний раз
Пакет Control.ca-list
Пакет Control.ca-bundle
Пакет Control.system-ca-bundleуправления.
Package Control.cache/
Package Control.ca-certs/
Package Control.merged-ca-bundle
Package Control.user-ca-bundle
oscrypto-ca-bundle.crt
bh_unicode_properties.cache

# Sublime-github package stores a github token in this file
# https://packagecontrol.io/packages/sublime-github
GitHub.sublime-settings

##### Notepad++
# Notepad++ backups #
*.bak

###### TextMate
*.tmproj
*.tmproject
теги tmtags

##### VisualStudioCode
.vscode/*
.vscode!/settings.json
.vscode!/tasks.json
.vscode!/запустите.json
.vscode!/extensions.json
*.code-рабочеепространство

# Локальная история для кода Visual Studio
.история/

###### NetBeans
**/nbproject/частный/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
сборка/
nbbuild/
dist/
nbdist/
.nb-gradle/

###### JetBrains
# Охватывает IDE JetBrains: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm и Rider
# Ссылка: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# Пользовательский материал
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/словари
.idea/**/shelf

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
# .idea/artifacts
# .idea/compiler.xml
# .idea/jarRepositories.xml
# .idea/modules.xml
# .idea/*.iml
# .idea/модули
# *.iml
# *.ipr

# CMake
*cmake-build-/

# Плагин Mongo Explorer
.idea/**/mongoSettings.xml

# Формат проекта на основе файлов
*.iws

# IntelliJ
выход/

# плагин mpeltonen/sbt-idea
.idea_modules/

# Плагин JIRA
atlassian-ide-plugin.xml

# Плагин для Clojure с курсивом
.idea/replstate.xml

# Плагин Crashlytics (для Android Studio и IntelliJ).
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
структура.свойства

# Клиент Rest на основе редактора
.idea/HttpRequests

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser

##### Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

Специфичный для # CDT (инструментарий разработки на C / C ++)
.cproject

# CDT- автоинструменты
.автоинструменты

# Java-обработчик аннотаций (APT)
.factorypath

Специфичный для # PDT (инструменты разработки PHP)
.путь к сборке

# плагин sbteclipse
.target

# Плагин Tern
.tern-проект

# Плагин TeXlipse
.texlipse

# STS (набор инструментов Spring)
.springBeans

# Рекомендации по кодированию
.рекомендатели/

# Обработка аннотаций
.apt_generated/
.apt_generated_test/

# Специфичная для Scala IDE (разработка на Scala и Java для Eclipse)
.кэш-основной
.scala_dependencies
.рабочий лист

# Uncomment this line if you wish to ignore the project description file.
# Typically, this file would be tracked if it contains build/dependency configurations:
#.project

##### Qt
# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*сборка-*
*.qm
*.prl

# Модульные тесты Qt
target_wrapper.*

# QtCreator
*.автосохранение

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

##### VisualStudio
##### VisualStudio
## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.
##
## Get latest from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Mono auto generated files
mono_crash.*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017 каталог кэша / параметров
.vs/
# Раскомментируйте, если у вас есть задачи, которые создают статические файлы проекта в wwwroot
#wwwroot/

# Автоматически генерируемые файлы Visual Studio 2017
Файлы\ Сгенерированные/

# Результаты тестирования MSTest
[Tt]есть[Rr]результат*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Результаты сборки проекта ATL
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Результаты тестирования
Бенчмаркдотнет.Артефакты/

# .NET Core
project.lock.json
project.fragment.lock.json
артефакты/

# Строительные леса ASP.NET
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.сборки
*.pidb
*.svclog
*.scc

# Тестовые файлы Chutzpah
_Chutzpah*

# Файлы кэша Visual C ++
ipch/
*.точки доступа
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio Trace Files
*.e2e

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# AxoCover is a Code Coverage Tool
.axoCover/*
!.axoCover/settings.json

# Coverlet is a free, cross platform Code Coverage Tool
coverage*[.json, .xml, .info]

# Результаты покрытия кода Visual Studio
*.покрытие
*.coveragexml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Веб-верстак (sass)
.sass-кэш/

# Выходная папка Installshield
[Ee]xpress/

# DocProject - это надстройка для генератора документации
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Каталог с одним щелчком мыши
опубликовать/

# Опубликовать веб-вывод.
.*[Pp]ublish.xml
*.azurePubxml
# Примечание: Прокомментируйте следующую строку, если хотите проверить настройки веб-развертывания,
# но строки подключения к базе данных (с потенциальными паролями) будут незашифрованными
*.pubxml
*.publishproj

# Microsoft Azure Web App publish settings. Comment the next line if you want to
# checkin your Azure Web App publish settings, but sensitive information contained
# in these scripts will be unencrypted
PublishScripts/

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
.?*![Cc]болит/

# Другие
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.настройки публикации
orleans.codegen.cs

# Включение файлов со строгими именами может представлять угрозу безопасности
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.snk

# Поскольку существует несколько рабочих процессов, раскомментируйте следующую строку, чтобы игнорировать bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_components/

# RIA/Silverlight projects/ Проекты Silverlight
Сгенерированный код/

# Резервное копирование файлов и создание отчетов в результате преобразования старого файла проекта
# для более новой версии Visual Studio. Файлы резервных копий не нужны,
# потому что у нас есть git ;-)
_ Файлы отчетов о повышении уровня/
*Резервное копирование/
Список обновлений*.XML
Список обновлений*.htm
Резервная копия ServiceFabric/
*.rptproj.bak

# Файлы SQL Server
*.mdf
*.ldf
*.ndf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl

# Microsoft Fakes
FakesAssemblies/

# GhostDoc plugin setting file
*.GhostDoc.xml

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# Visual Studio 6 auto-generated workspace file (contains which files were open etc.)
*.vbw

# Visual Studio LightSwitch build output
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Paket dependency manager
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

# CodeRush personal settings
.cr/personal

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# Cake - Uncomment if you are using it
# инструменты/**
# !инструменты/пакеты.config

# Tabs Studio
*.tss

# Конфигурационный файл JustMock от Telerik.
*.jmconfig

# Выходные данные сборки BizTalk
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# Результаты анализа пользовательского интерфейса OpenCover
Открытая обложка/

# Вывод локального запуска Azure Stream Analytics
ASALocalRun/

# Двоичный и структурированный журнал MSBuild
*.binlog

# Файл конфигурации графического отладчика Nvidia Nsight GPU debugger
*.nvuser

# Рабочая папка MFractors (инструмент повышения производительности Xamarin).
.mfractor/

# Локальная история для Visual Studio
.localhistory/

# Временная база данных проверки работоспособности BeatPulse
healthchecksdb

# Папка резервного копирования для инструмента преобразования ссылок на пакеты в Visual Studio 2017
MigrationBackup/

# Ionide (cross platform F# VS Code tools) working folder
.ionide/

# Fody - auto-generated XML schema
FodyWeavers.xsd

##### Gradle
.gradle
**/build/
!src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

##### CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

##### C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Предварительно скомпилированные заголовки
*.gch
*.pch

# Скомпилированные динамические библиотеки
*.so
*.dylib
*.dll

# Файлы модулей Fortran
*.mod
*.smod

# Скомпилированные статические библиотеки
*.lai
*.la
*.a
*.lib

# Исполняемые файлы
*.exe
*.out
*.app

# Файл двоичного расширения C / C ++
*.bin

###### C
# Предварительные требования
*.d

# Объектные файлы
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Файлы отладки
.dSYM*/
*.su
*.idb
*.pdb

# Результаты компиляции модуля ядра
*.mod*
*.cmd
.tmp_versions/
модули.порядок
Module.symvers
Mkfile.old
dkms.conf

# Объектный файл Raspberry Pi Pico
*.uf2
# Файл дизассемблера Raspberry Pi Pico.
*.dis
